# http settings
HTTP_PORT=3000

# database settings
DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public

# docker settings
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_SCHEMA=public
PRISMA_DATABASE_URL=postgresql://USER:PASSWORD@postgres:5432/DATABASE?schema=public
