# http settings
HTTP_PORT=3000

# database settings
PRISMA_DATABASE_URL=postgresql://{POSTGRES_USER}:{POSTGRES_PASSWORD}@postgres:5432/{POSTGRES_DB}?schema={POSTGRES_SCHEMA}&options=-c%20search_path%{POSTGRES_SCHEMA}
POSTGRES_SCHEMA=
