# http settings
HTTP_PORT=3000

# mediasoup settings
# 현재 프로젝트에서는 1을 사용한다.
MEDIASOUP_WORKER_COUNT=1
MEDIASOUP_WORKER_LOG_LEVEL=warn
MEDIASOUP_RTC_MIN_PORT=40000
MEDIASOUP_RTC_MAX_PORT=49999
MEDIASOUP_LISTEN_IP=0.0.0.0
# 0.0.0.0/:: 에 바인딩할 때 필수다. 클라이언트에서 접근 가능한 LAN IP, 공인 IP 또는 호스트를 설정한다.
MEDIASOUP_ANNOUNCED_ADDRESS=
MEDIASOUP_INITIAL_OUTGOING_BITRATE=1000000

# database settings
DATABASE_URL=postgresql://{POSTGRES_USER}:{POSTGRES_PASSWORD}@postgres:5432/{POSTGRES_DB}?schema={POSTGRES_SCHEMA}&options=-c%20search_path%{POSTGRES_SCHEMA}
POSTGRES_SCHEMA=
